$fondoMarron:#1b0404;
$fondoAzulOscuro:#061e31;
$tiempoAnimacion1: all 1s;
$tiempoAnimacion2: all 2s;
$tiempoAnimacion3: all 3s;

$tamano: (1: 10%, 2: 20%, 3: 30%, 4: 40%, 5: 50%, 6: 60%, 7: 70%, 8: 80%, 9: 90%, 10: 100%);